*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #4CA092;
    --secondary-color: #D8A18B ;
    --tertiary-color: #A4D3C1 ;

    --primary-font: 'Amatic SC', Helvetica, sans-serif; 
    --secondary-font: 'Candara' , Helvetica, sans-serif
}

img{
    max-width: 100%;
    height: auto;
}

html{
    background-image: url(/assets/background.jpg);
    background-repeat: repeat-y;
    background-size:100% auto;

}

h1{
    font-family: var(--primary-font);
    font-size: 48px;
    margin: 14px auto;
}

h2{
    font-family: var(--secondary-font);
    /* margin-bottom: 12px; */
}

p{
    font-family: var(--secondary-font);
    font-size: 16px;
}

.container{
    margin: 10% auto 5%;
    text-align: center;
    background-color: white;
    max-width: 85%;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 8px 8px var(--tertiary-color);
}

.IdeaContainer{
    text-align: left;
    margin: 14px 22px;
}


.ideasBox{
    margin: 14px auto;
    text-align: left;
    display: flex;
}

.newIdea{
    font-weight: bold;
    color: var(--secondary-color);
    font-size: 26px;
}

/* upvote and downvote style */

.number{
    margin: auto 40px;
    align-items: center;
}

.value{
    margin: 10px auto;
    text-align: center;
    font-size: 20px;
    font-family: var(--secondary-font);
}

.bi{
    background-color: white;
    border: none;
    font-size: 18px;
}


hr{
    border: 1px solid rgb(230, 230, 230);
}

.you{
    color: var(--secondary-color);
    margin: 5px 14px auto;
    font-weight: bold;
    font-size: 20px;
}

.current-user{
display: inline-flex;
flex-wrap: wrap;
max-width: 100%;
align-items: center;
}

.addIdea{
    border: none;
    background-color: var(--secondary-color);
    padding: 12px;
    margin-left: 14px;
    border-radius: 10px;
    font-family: var(--secondary-font);
    font-size: 14px;
    font-weight: bold;
}


input{
    padding: 10px;
    border-radius: 8px;
    border: 2px dashed var(--primary-color);
    /* width: 100%; */

}

/* .form{
    display: flex;
} */

@media screen and (min-width:1200px){


    h1{
        font-size: 62px;
    } 

    p{
        font-size: 18px;
    }

    .container{
        max-width: 70%;
    }

}

